# ejercicio 08 Design
# images
Ejercicios/design/images
Ejercicios/ejercicioDesign/images
   
# sass
Ejercicios/design/scss
Ejercicios/ejercicioDesign/scss

# prepros config
Ejercicios/design/prepros.config
Ejercicios/ejercicioDesign/prepros.config
