@import './variables';
@import './mixin';
header {
   display: flex;
   justify-content: center;
   position: fixed;
   width: 100%;
   z-index: 999;
   .bg-nav {
      background-color: $colorGris;
      width: 80%;
      a {
         text-align: center;
         width: 50%;
      }
      ul {
         justify-content: space-around;
         width: 100%;
         li {
            a {
               width: 100%;
            }
         }
      }
   }
}
.bg-banner{
   background-attachment: fixed;
   background-image: url('../images/bg01.jpg');
   @include backgroundBg;
   height: 100vh;
   .col-12 {
      @include flexColumn;
      align-items: unset;
      font-family: $familyFantasy;
      padding-left: 5%;
      h1 {
         font-size: 3rem;
         letter-spacing: 0.5rem;
         text-transform: uppercase;
      }
      p {
         color: $textBlack;
         font-weight: 600;
         letter-spacing: 0.1rem;
         margin-top: 2rem;
      }
      hr{
         border: 5px solid $borderRed;
         width: 10%;
         margin: 0;
      }
   }
}
.clase {
   div {
      background-size: cover ;
      height: 200px;
   } 
}
.bg01{
   background-image: url('../images/P01.jpg');
}
.bg02{
   background-image: url('../images/P02.jpg');
}
.bg03{
   background-image: url('../images/P03.jpg');
}
.bg04{
   background-image: url('../images/P04.jpg');
}
.bg05{
   background-image: url('../images/P05.jpg');
}
.bg06{
   background-image: url('../images/P06.jpg');
}
.bg07{
   background-image: url('../images/P07.jpg');
}
.bg08{
   background-image: url('../images/P08.jpg');
}
.bg09{
   background-image: url('../images/P09.jpg');
}
.objectFit {
   div {
      padding: 0;
   }
   img {
      width: 100%;
      object-fit: cover;
      object-position: center;
      height: 250px;
   }
}
.bg-video {
   background-image: url('../images/bg02.jpg');
   @include backgroundBg;
   height: 80vh;
   .col-12 {
      @include flexColumn;
      h2 {
         color: $colorGris;
         font-family: monospace;
         letter-spacing: 1.5rem;
         margin-bottom: 6rem;
         text-transform: uppercase;
      }
   }
}
footer {
   padding: 5% 0;
   .col-6:first-child{
      text-align: end;
   }
   ul {
      list-style: none;
   }
}